* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


img {
    width: 100%;
}

/* ---------------------------- classes ------------------------------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px 5px 20px;
    max-width: 1200px;
    margin: 40px auto;
    border: 1px #232023 solid;
    background-color: white;
}

.col {
    flex-grow: 2;
    flex-basis: 300px;
}


/* ---------------------------- SPLASH ------------------------------*/

#splash {
    background-image: url(pic/splash1.svg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 75% 0%;
}


/* -------------------------------------------------------------------*/

/* ---------------------------- UI BUND ------------------------------*/

.navn {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0rem;
    left: 1rem;


}

.portfolio {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0rem;
    right: 7rem;
}

.about {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0rem;
    right: 1rem;

}

.navn:hover {
    text-decoration: underline;
}

.portfolio:hover {
    text-decoration: underline;
}

.about:hover {
    text-decoration: underline;
}


p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;

}

/* -------------------------------------------------------------------*/

/* ---------------------------- Portfolio ----------------------------*/
