* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


img {
    width: 100%;
}

/* ---------------------------- classes ------------------------------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px 5px 20px;
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 20px;
    border: 1px #232023 solid;
    background-color: white;
}

.col {
    flex-grow: 2;
    flex-basis: 300px;
}


/* ---------------------------- SPLASH ------------------------------*/

#splash {
    background-image: url(pic/splash1.svg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 75% 0%;
}


/* -------------------------------------------------------------------*/

/* ---------------------------- FOOTER ------------------------------*/

footer {
    width: 1440px;
    height: 230px;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

footer .some {
    display: flex;

    width: 100%;
    height: 40px;
    justify-content: center;
}

footer .some img {
    height: 100%;
    width: auto;
}

footer img:hover {
    cursor: pointer;
}


/* -------------------------------------------------------------------*/


/* ---------------------------- UI BUND ------------------------------*/

.navn {
    font-size: 1.2rem;
    position: fixed;
    bottom: 0rem;
    left: 1rem;
}

.portfolio {
    font-size: 1.2rem;
    position: fixed;
    bottom: 0rem;
    right: 6rem;
}

.about {
    font-size: 1.2rem;
    position: fixed;
    bottom: 0rem;
    right: 1rem;

}

/* Man sætter komma. for at sige man taler til nav a og inden i den taler man til p */
nav a,
nav a p {
    text-decoration: none;

}



nav a:hover p {
    text-decoration: underline;
}



p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;

}

/* -------------------------------------------------------------------*/

/* ---------------------------- Portfolio ----------------------------*/

.baggrund {
    background-color: gold;
}

#tema2 img {
    width: 20vw;
    height: 40vw;
}

#tema6 img {
    width: 20vw;
    height: 40vw;
}
